// colors
$primary: #AC3B38;
$secondary: #233342;
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

// fonts
$GothamBold: 'GothamBold', sans-serif;
$GothamBook: 'GothamBook', sans-serif;
$GothamMedium: 'GothamMedium', sans-serif;
$Nexa-Book: 'Nexa-Book', sans-serif;
$Nexa-Light: 'Nexa-Light', sans-serif;
$Nexa-Bold: 'Nexa-Bold', sans-serif;
$Inter: 'Inter', sans-serif;

// breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1600px;

// custome animation delays
$anim-delay-1s: 0.1s;
$anim-delay-2s: 0.2s;
$anim-delay-3s: 0.3s;
$anim-delay-4s: 0.4s;
$anim-delay-5s: 0.5s;
  
