header {
    font-family: $GothamMedium;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
    transition: all 0.5s ease-in-out;
    
    .menuBtn {
        width: 50px;
        height: 50px;
        border: 2px solid $white;
        border-radius: 50%;

        &:hover {
            background-color: $primary;
        }
    }

    .enquireBtn {
        width: 170px;
        height: 50px;
        background-color: $white;
        color: $black;
        border-radius: 25px;
        border: 2px solid $white;

        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
    
    a {
        color: $white;

    }
}

header.scrolled {
    background-color: #611f1d;
}


// Menu
.menu {
    $self: &;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $secondary;
    z-index: 999999;
    transition: all 1s linear;
    // background-image: url('../../images/slash.png');
    // background-repeat: no-repeat;
    // background-position: bottom left;

    .slash {    
        position: absolute;
        bottom: -45%;
        left: 7%;
        opacity: 0.5;
    }

    &_inner {
        width: 100%;
        height: 100vh;
    }

    &_close {
        position: absolute;
        top: 50px;
        left: 10%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid rgba($color: $white, $alpha: 0.6);
        &:hover {
            background-color: $primary;
        }
    } 

    &_left {
        width: 100%;
        // height: 100vh;
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        @include sm {
            width: 60%;
        }

        .mainMenu {
            ul {
                li {
                    a {
                        display: table;
                        font-family: $GothamBold;
                        font-size: 1.8rem;
                        color: $white;
                        line-height: 4.5rem;

                        @include xl {
                            font-size: 2.25rem;
                        }

                        &::after {
                            content: '';
                            display: block;
                            width: 0px;
                            height: 2px;
                            background-color: $primary;
                            transition: all 0.5s;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .menuSocial {
            position: relative;
            top: 10rem;
            ul {
                li {
                    display: inline-block;
                    font-family: $GothamBook;
                    font-size: 1.25rem;
                    line-height: 2.5;
                    &:not(:last-child) {
                        margin-right: 2rem;
                    }
                    a {
                        color: $white;
                    }
                }
            }
        }

        .secondaryMeny {
            ul {
                li{
                    a {
                        font-family: $GothamBook;
                        font-size: 1.25rem;
                        color: $white;
                        line-height: 4.5rem;
                    }
                }
            }
        }
    }

    &_right {
        width: 40%;
        background-color: $primary;
        height: 100vh;
        float: right;

        .menuContent {
            min-width: 85%;

            @include lg {
                min-width: 320px;
            }

            h3 {
                font-family: $GothamBold;
                font-size: 2.25rem;
                color: $white;
                margin-bottom: 30px;
            }

            p {
                font-family: $GothamBook;
                font-size: 1.25rem;
                color: $white;
                line-height: 1.5;
            }
            .ctaWrapper {
                position: relative;
                .cta {
                    @include cta($bg: $secondary);
                    margin-top: 50px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -30px;
                    display: block;
                    width: 60px;
                    height: 1px;
                    background-color: $white;
                    z-index: 2;

                }
            }
        }
    }
}