.about {
    display: table;
    width: 100%;
    background-color: $white;
    padding-top: 50px;
    padding-bottom: 50px;

    @include lg {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    h2 {
        margin-bottom: 100px;
        font-family: $Nexa-Bold;
        color: $secondary;
        line-height: 1;
        small {
            font-size: 2rem;
            @include sm {
                font-size: 3rem;
            }
            @include xl {
                font-size: 4rem;
            }
            @include xxl {
                font-size: 5rem;
            }
        }
        span {
            font-size: 3rem;
            @include sm {
                font-size: 6rem;
            }
            @include xl {
                font-size: 8rem;
            }
            @include xxl {
                font-size: 10rem;
            }
        }
    }

    .boxContent-1 {
        margin: 0 auto;
        font-family: $GothamBook;
        min-width: 300px;
        max-width: 380px;
        h3 {
            margin-bottom: 2rem;
            color: #233342;
            line-height: 1.5;
            span {
                font-family: $Nexa-Bold;
                
            }
            @include lg {
                font-size: 1.5rem;
                span {
                    font-size: 2rem;
                    font-weight: 700;
                }
                
            }
        }

        h4 {
            color: #666666;
            line-height: 1.5;
            @include lg {
                font-size: 1.2rem;
                span {
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                
            }
        }
        
    }

    .boxContent-2 { 
        float: right;
        margin-top: -24%;
        margin-right: -10%;
    }

    .boxContent-3 { 
        margin-top: 100px;
    }
}